<div class="lg:w-350 sm:w-330 xs:w-323 border-2">
  <img class="w-full" [src]="product.imageSrc">
  <div class="px-4">
    <div class="py-4">
      <span class="font-bold">{{product.name}}</span>
    </div>
    <div class="mb-4">
      <div class="w-full mb-2">
        <p class="text-xs leading-xs">{{product.desc}}</p>
      </div>
      <span class="font-bold">R$ {{ product.price | number: '1.2-2' }}</span>
    </div>
    <div>
      <button class="bg-secondaryColor py-1 px-3 text-white text-medium mb-4">Ver mais</button>
    </div>
  </div>
</div>
