<div class="w-full flex justify-center bg-black py-8">
  <div class="w-1110">
    <span class="w-full flex justify-center text-white text-32 font-normal mb-8">
      Conheça todas as nossas facilidades
    </span>
    <div class="flex justify-center">
      <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-6">
        <div class="w-304 h-79 flex items-center">
          <img src="../../../assets/facilities/x-diamond (2).png" class="h-full">
          <div class="h-full ml-2 flex flex-col">
            <strong class="text-primaryColor">PAGUE PELO PIX</strong>
            <span class="text-sm text-white">Ganhe 5% OFF em pagamentos via PIX</span>
          </div>
        </div>
        <div class="w-304 flex items-center">
          <img src="../../../assets/facilities/arrow-repeat (2).png" class="h-full">
          <div class="h-full ml-2 flex flex-col">
            <strong class="text-primaryColor">TROCA GRÁTIS</strong>
            <span class="text-sm text-white">Fique livre para trocar em até 30 dias.</span>
          </div>
        </div>
        <div class="w-304 flex items-center">
          <img src="../../../assets/facilities/flower1 (3).png" class="h-full">
          <div class="h-full ml-2 flex flex-col">
            <strong class="text-primaryColor">SUSTENTABILIDADE</strong>
            <span class="text-sm text-white">Moda responsável, que respeita o meio ambiente.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
